@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*



/*------------------------ header  -----------------------*/
{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    min-height: 100vh;

}
.background
{
    background: url(img/forest8.png );
}
#header
{
    
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    
}
#header .logo
{

    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
#header ul
{
    display: flex;
    justify-content: center;
    align-items: center; 
    

}
#header ul li 
{
    list-style: none;
    margin-left: 20px;
}
#header ul li a
{
    text-decoration: none;
    padding :6px 15px ;
    color:  #5cabca;
    border-radius: 20px;
}
#header ul li a:hover,
#header ul li a.active
{
    background:   #5cabca;
    color: #fff;
}

section
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   pointer-events:none;
}
section #text
{
    height: 31%;
    position: absolute;
    font-size: 9vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'Rancho', cursive;
    transform: translateY(-50%);

    background:  -webkit-linear-gradient(
        360deg,#f11c1c,#ff6790);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent ;
}
section #text span
{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
}
.dropbtn {
    color:  #5cabca;
    text-decoration: none;
    padding :6px 15px ;
    border-radius: 20px;
    font-size: 16px;
    border: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 251px;
  z-index: 1;
}
.dropdown-content a { 
  font-size: 14px;
  padding: 12px 16px;
  background-color: #ffffff;
  display: block;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {    background:  #5cabca; color: #fff;}

section::before{
    content: '';
    position: absolute;
    left: 0;  
    bottom: 0px;
    width: 100%;    
    height: 150px;
    background: linear-gradient(to top,#f7dde1,transparent);
    z-index: 10000;  
}



/*------------------------ container  -----------------------*/
.container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:  #fff;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
} 
.change .bar2 {
    opacity: 0;
} 
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}



/*------------------------ เนื้อหา -----------------------*/
.home{
    background: linear-gradient(to bottom, #f7dde1,transparent);
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 80px ;
}



/*--------------------- box-content---------------------*/
.box-content{
    max-width: 100%; 
}
.box-content h1{
    font-size: 40px;
    font-family: 'Angsana New';
    text-align: center;
    margin-top: 3rem; 
}
.box-content p{
    font-size: 25px; 
    font-family: 'Angsana New';
    text-align: center;
    margin-bottom: 20px; 
}
.resume_wrap-content{
    width: calc(100%-100px);
}
.resume_wrap-content h2{
    font-size: 30px;
    font-family: 'Angsana New';
}
.resume_wrap-content p{
    font-size: 25px; 
    font-family: 'Angsana New';
}

.tab p{
    margin-left: 3rem;
    font-size: 25px; 
    font-family: 'Angsana New';
}



/*------------------------- box -------------------------*/
.box {
    display: flex;
}
.boxconinfo{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.item{
    padding: 10px;
}
.item h2{
    font-size: 30px; 
    font-family: 'Angsana New';
    display: flex;
    justify-content: center;
    align-items: center;
}

.item p{
    font-size: 25px; 
    font-family: 'Angsana New';
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.item-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
  
}
.item img{
    width: 80%;
    height: 100%;
}




/*------------------------- con -------------------------*/
.con h2{
    font-size: 30px; 
    font-family: 'Angsana New';
}
.con p{
    font-size: 25px; 
    font-family: 'Angsana New';
    margin-bottom: 2.5rem;
}
.top img{
    height: 40%;
    width: 40%;
}
.topp {
    align-items: center;
    justify-content: center;
    display: flex;
}
.conn b{
    font-size: 25px; 
    font-family: 'Angsana New';
}









/*------------------------- swiper -------------------------*/
body {
    background: #faeff1;
    color: #000;
    margin: 0;
    padding: 0;
}
.swiper {
    width: 100%;
    height: 100%;
    padding: 1rem 0.5rem 1rem;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.card img{
    width: 100%;
    height: 100%;    
}
.card-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cad-in{
    font-size: 30px;
    font-family: 'Angsana New';
    margin-top: 2rem;
}
.excerpt{
    font-size: 25px; 
    font-family: 'Angsana New';
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}














.menu-active{
    display: block !important;

}
@media only screen and (min-width: 920px){
    .container{
        display: none;
    }
    section #text{
        transform: translateY(-50%); 
    }
    

}



@media only screen and (max-width: 450px)
{   
    #header
    {
        padding: 30px 30px;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }
    #header ul{
        display:none ;
    }
    #header .logo{
        font-weight: 700;
        font-size: 25px; 
    }
    #header ul li{
        margin: 2rem 0;  
    }
    section #text span{
        font-weight: 800;
        font-size: 16px;
        text-decoration: none;
    }
    .box-content p{
        margin-bottom: 1px;
    }
    .box-content h1{
        font-size: 15px;
        margin-top: 1rem;
    }
    .box-content p{
        font-size: 10px;
        margin-bottom: 1rem;
    }
    .resume_wrap{
        margin-bottom: 10px;
        padding: 10px 10px;  
    }

    .resume_wrap-content h2{
        font-size: 15px;
    }
    .resume_wrap-content p{
        font-size: 10px; 
    }
    .con h2{
        font-size: 15px; 
    }
    .con p{
        font-size: 10px; 
        margin-bottom: 1rem;
    }
    .con b{
        font-size: 10px; 
    }
    .top img{
        height: 60%;
        width: 60%;
    }
    .con p{
        font-size: 10px;
    }
    .swiper-pagination{
        display:none ;
    }

    .boxconinfo{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .item h2{
        font-size: 15px; 
    }
    
    .item p{
       font-size: 10px;    
    }
    .item img{
        height: 50%;
        width: 50%;
    }
    .tab p{
        margin-left: 1rem;
        font-size: 10px;
    }


}



@media only screen and (max-width: 919px)
{   
    .menu.responsive .dropdown {float: none;}
    #header
    {
        padding: 30px 30px;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }
    #header ul{
        display:none ;
    }
    #header .logo{
        font-weight: 700;
        font-size: 30px; 
    }
    section #text{
        height: 30%;
        font-size: 15vw;
    }
    #header ul li{
        margin: 1rem ;
    }
    .box-content p{
        margin-bottom: 1px;
    }
    .box-content h1{
        font-size: 20px;
        margin-top: 1rem;
    }
    .box-content p{
        font-size: 15px;
        margin-bottom: 1rem;
    }
    .resume_wrap{
        margin-bottom: 10px;
        padding: 10px 10px;  
    }

    .resume_wrap-content h2{
        font-size: 20px;
    }
    .resume_wrap-content p{
        font-size: 15px; 
    }
    .con h2{
        font-size: 20px; 
    }
    .con p{
        font-size: 15px; 
        margin-bottom: 1rem;
    }
    .con b{
        font-size: 15px; 
    }
    .top img{
        height: 60%;
        width: 60%;
    }
    .con p{
        font-size: 15px;
    }
        .swiper-pagination{
        display:none ;
    }

    .item h2{
        font-size: 20px; 
    }
    
    .item p{
       font-size: 15px;    
    }
    .item img{
        height: 50%;
        width: 50%;
    }
}


@media only screen and (max-width: 1150px){

    .item img{
        height: 80%;
        width: 80%;
    }
}
